<!-- Use Angular Router link directive 'routerLink', used by Angular Router, to re-render pages -->
<mat-toolbar color="primary">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <!-- Apply mat-accent color when link is active -->
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">
        New Post
      </a>
    </li>
    <li>
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">
        Login
      </a>
    </li>
    <li>
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">
        Signup
      </a>
    </li>
  </ul>
</mat-toolbar>
